<header class="contenedor-header">
  <div class="big-header">
    <div class="logo-buscar">
      <div class="logo">
        <img src="images\handyman_60dp_000_FILL0_wght400_GRAD0_opsz48.png" alt="">
        <div class="ferreflex">
          <span class="ferremas">FERREMAS</span>
          <span class="sub-ferremas">Ferreteria online</span>
        </div>
      </div>
      <div class="busqueda">
        <input
          class="cont-buscar"
          type="text"
          [(ngModel)]="terminoBusqueda"
          (keyup.enter)="buscar()"
        >
        <div class="boton-buscar" (click)="buscar()">
          <span>Buscar</span>
        </div>
      </div>
    </div>
  </div>
  <div class="small-header">
    <div class="navbar">
      <a href="home">Inicio</a>
      <a href="catalogue">Catalogo</a>
      <a *ngIf="authService.isAdmin()" href="users">Usuarios</a>

      <a *ngIf="authService.isAdmin()" href="admin/products">Productos</a>

    </div>
    <div class="navbar-end">
      <ng-container *ngIf="authService.isAuthenticated(); else notAuthenticated">
        <a class="complex-a" style="cursor: pointer;" href="payment">
          <img style="width: 32px; height:32px;" src="images\shopping_cart_60dp_000_FILL0_wght400_GRAD0_opsz48.png" alt="">
          <span *ngIf="contadorCarrito > 0" class="contador-carrito">
            {{ contadorCarrito }}
          </span>
        </a>
        <a class="complex-a" href="profile">
          <img style="width: 24px; height:24px;" src="images\profile-vector.png" alt="">
          <span>Perfil</span>
        </a>
        <a class="complex-a" (click)="logout()" style="cursor: pointer;">
          <img style="width: 24px; height:24px;" src="images\logout.png" alt="">
          <span>Cerrar Sesión</span>
        </a>
      </ng-container>
      <ng-template #notAuthenticated>
        <a class="complex-a" href="login">
          <img style="width: 24px; height:24px;" src="images\profile-vector.png" alt="">
          <span>Inicia sesión</span>
        </a>
        <a class="complex-a" href="register">
          <span>Registrarse</span>
        </a>
      </ng-template>
    </div>
  </div>
</header>

<!--
<header style="background-color: white;
">
<div class="header">
    <h3>Ferremas</h3>
<div class="content">

<input class="search" type="text">
<button class="button">buscar</button>
</div>
</div>


<div class="navbar">
  <h4><a href="" style="text-decoration: none;">inicio</a></h4>
  <h4 style="margin-left: 1%;"><a href="catalogue" style="text-decoration: none; color:black;">Catalogo</a></h4>

</div>

</header>

-->
