<header class="contenedor-header">
  <div class="big-header">
    <div class="logo-buscar">
      <div class="logo">
        <img src="images\handyman_60dp_000_FILL0_wght400_GRAD0_opsz48.png" alt="">
        <div class="ferreflex">
          <span class="ferremas">FERREMAS</span>
          <span class="sub-ferremas">Ferreteria online</span>
        </div>
      </div>
      <div class="busqueda">
        <input class="cont-buscar" type="text">
        <div class="boton-buscar">
          <span>Buscar</span>
        </div>
      </div>
    </div>
  </div>
  <div class="small-header">
    <div class="navbar">
      <a href="home">Inicio</a>
      <a href="catalogue">Catalogo</a>
      <a href="users">Usuarios</a>
      <a href="admin/products">Productos</a>
    </div>
    <div class="navbar-end">
      <a class="complex-a" href="login"><img style="width: 24px; height:24px;" src="images\profile-vector.png" alt=""><span>Inicia sesión</span></a>
      <a class="complex-a" href="register"><span>Registrarse</span></a>
    </div>
  </div>
</header>

<!--
<header style="background-color: white;
">
<div class="header">
    <h3>Ferremas</h3>
<div class="content">

<input class="search" type="text">
<button class="button">buscar</button>
</div>
</div>


<div class="navbar">
  <h4><a href="" style="text-decoration: none;">inicio</a></h4>
  <h4 style="margin-left: 1%;"><a href="catalogue" style="text-decoration: none; color:black;">Catalogo</a></h4>

</div>

</header>

-->
