.center{
    background-color: white;
  display: flex;
  flex-direction: column; /* Para que el título y el form estén uno encima del otro */
  justify-content: center;
  padding: 40px;
  width: 85%;
  height: 250;
  margin: 2% auto;
  border: 1px solid black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.grid{
  background: hsl(36,100%,99%);
  width: 100%;
  max-width: 1500px;
  height: 500px;
  display: grid;
  gap: 1.5vw;
  padding: 1vw;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: auto;
  grid-template-areas:
  "hero hero hero hero aside2 aside2"
    "hero hero hero hero aside2 aside2"
    "hero hero hero hero aside3 aside3 "
    "hero hero hero hero aside3 aside3 " ;
}


.item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.grid .item:nth-child(1){
  grid-area: hero;
}

.grid .item:nth-child(2){
  grid-area: aside2;
}

.grid .item:nth-child(3){
  grid-area: aside3;
}

/* Carrusel container */
.carousel {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
}

/* Slides en fila */
.slides {
  display: flex;
  width: 300%;
  height: 100%;
  animation: slideAnimation 9s infinite;
}

/* Imágenes perfectamente ajustadas al contenedor */
.slides img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ajusta sin recortar ni deformar */
  flex-shrink: 0;
}



.img {
width: 100%;
  height: 100%;
  object-fit: contain; /* Ajusta sin recortar ni deformar */
  flex-shrink: 0;
}


@keyframes slideAnimation {
  0% { transform: translateX(0); }
  33% { transform: translateX(-100%); }
  66% { transform: translateX(-200%); }
  100% { transform: translateX(0); }
}
