<footer class="footer">
  <div class="footer-section">
    <h4>Ayuda</h4>
    <ul>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">¿Cómo hago compras?</a></li>
      <li><a href="#">Condiciones de despacho</a></li>
      <li><a href="#">Seguimiento de compra</a></li>
    </ul>
  </div>

  <div class="footer-section">
    <h4>Legal</h4>
    <ul>
      <li><a href="#">Términos y condiciones</a></li>
      <li><a href="#">Políticas de privacidad</a></li>
      <li><a href="#">Políticas de cookies</a></li>
      <li><a href="#">Canal de denuncias</a></li>
      <li><a href="#">Garantía y devoluciones</a></li>
    </ul>
  </div>

  <div class="footer-section social">
    <h4>Redes sociales</h4>
    <div class="social-icons">
      <a href="#"><img src="facebook.svg" alt="Facebook"></a>
      <a href="#"><img src="twitter.svg" alt="Twitter"></a>
      <a href="#"><img src="instagram.svg" alt="Instagram"></a>
      <a href="#"><img src="linkedin.svg" alt="LinkedIn"></a>
    </div>
  </div>
</footer>
