<footer class="footer">
  <div class="footer-section">
    <h4>Ayuda</h4>
    <ul>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">¿Cómo hago compras?</a></li>
      <li><a href="#">Condiciones de despacho</a></li>
      <li><a href="#">Seguimiento de compra</a></li>
    </ul>
  </div>

  <div class="footer-section">
    <h4>Legal</h4>
    <ul>
      <li><a href="#">Términos y condiciones</a></li>
      <li><a href="#">Políticas de privacidad</a></li>
      <li><a href="#">Políticas de cookies</a></li>
      <li><a href="#">Canal de denuncias</a></li>
      <li><a href="#">Garantía y devoluciones</a></li>
    </ul>
  </div>

  <div class="footer-section social">
    <h4>Redes sociales</h4>
    <div class="social-icons">
      <a href="https://www.facebook.com/" target="_blank"><img src="images\vecteezy_set-of-social-media-icon-in-round-bakground_ 1.png" alt="Facebook"></a>
      <a href="https://www.youtube.com/" target="_blank"><img src="images\vecteezy_set-of-social-media-icon-in-round-bakground_ 2.png" alt="Youtube"></a>
      <a href="https://www.instagram.com/" target="_blank"><img src="images\vecteezy_set-of-social-media-icon-in-round-bakground_ 3.png" alt="Instagram"></a>
      <a href="https://cl.linkedin.com/" target="_blank"><img src="images\vecteezy_set-of-social-media-icon-in-round-bakground_ 4.png" alt="LinkedIn"></a>
    </div>
  </div>
</footer>
