<app-header/>
<section class="cuerpo centrar">
  <div class="container-cuerpo">
    <div class="filtros">
      <div class="subtitulo"><span>Filtrar por precio</span></div>
      <div class="filtrar-precio">
        <div class="price-box"></div>
        <div class="price-box"></div>
      </div>
      <div class="subtitulo"><span>Categoria</span></div>
      <div class="categorias">
      <div class="sub-categoria"><span>Accesorios</span></div>
      <div class="sub-categoria"><span>Herramientas de construcción</span></div>
      <div class="sub-categoria"><span>Herramientas Inalambricas</span></div>
      </div>
    </div>
    <div class="catalogo">
      <div class="bento">
        <div class="producto">
          <div class="foto-producto"></div>
          <div class="contenedor-titulo-precio">
            <div class="titulo"><span>Flying Ninja</span></div>
            <div class="precio"><span>$9.000</span></div>
          </div>
        </div>
        <div class="producto">
          <div class="foto-producto"></div>
          <div class="contenedor-titulo-precio">
            <div class="titulo"><span>Flying Ninja</span></div>
            <div class="precio"><span>$9.000</span></div>
          </div>
        </div>
        <div class="producto">
          <div class="foto-producto"></div>
          <div class="contenedor-titulo-precio">
            <div class="titulo"><span>Flying Ninja</span></div>
            <div class="precio"><span>$9.000</span></div>
          </div>
        </div>
        <div class="producto">
          <div class="foto-producto"></div>
          <div class="contenedor-titulo-precio">
            <div class="titulo"><span>Flying Ninja</span></div>
            <div class="precio"><span>$9.000</span></div>
          </div>
        </div>
        <div class="producto">
          <div class="foto-producto"></div>
          <div class="contenedor-titulo-precio">
            <div class="titulo"><span>Flying Ninja</span></div>
            <div class="precio"><span>$9.000</span></div>
          </div>
        </div>
        <div class="producto">
          <div class="foto-producto"></div>
          <div class="contenedor-titulo-precio">
            <div class="titulo"><span>Flying Ninja</span></div>
            <div class="precio"><span>$9.000</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer/>
