<app-header/>
<section class="cuerpo centrar">
  <div class="container-cuerpo">
    <div class="filtros">
      <div class="subtitulo"><span>Filtrar por precio</span></div>
      <div class="filtrar-precio">
        <div class="price-box"></div>
        <div class="price-box"></div>
      </div>
      <div class="subtitulo"><span>Categoria</span></div>
      <div class="categorias">
      <div class="sub-categoria"><span>Accesorios</span></div>
      <div class="sub-categoria"><span>Herramientas de construcción</span></div>
      <div class="sub-categoria"><span>Herramientas Inalambricas</span></div>
      </div>
    </div>
    <div class="catalogo">
      <div class="bento">
        <app-producto
          [imagenUrl]="'images\India_Gate_600x400.jpg'"
          [titulo]="'Flying Ninja'"
          [precio]="9000">
        </app-producto>
        <app-producto
          [imagenUrl]="'images\India_Gate_600x400.jpg'"
          [titulo]="'Flying Ninja'"
          [precio]="9000">
        </app-producto>
        <app-producto
          [imagenUrl]="'images\India_Gate_600x400.jpg'"
          [titulo]="'Flying Ninja'"
          [precio]="9000">
        </app-producto>
        <app-producto
          [imagenUrl]="'images\India_Gate_600x400.jpg'"
          [titulo]="'Flying Ninja'"
          [precio]="9000">
        </app-producto>
        <app-producto
          [imagenUrl]="'images\India_Gate_600x400.jpg'"
          [titulo]="'Flying Ninja'"
          [precio]="9000">
        </app-producto>
        <app-producto
          [imagenUrl]="'images\India_Gate_600x400.jpg'"
          [titulo]="'Flying Ninja'"
          [precio]="9000">
        </app-producto>
        <app-producto
          [imagenUrl]="'images\India_Gate_600x400.jpg'"
          [titulo]="'Flying Ninja'"
          [precio]="9000">
        </app-producto>
      </div>
    </div>
  </div>
</section>
<app-footer/>
