<app-header/>
<section class="cuerpo centrar">
  <div class="bento">
    <div class="carrito">
      <div class="titulo">
        <span>Tu Carrito</span>
      </div>
      <div class="producto"></div>
      <div class="producto"></div>
    </div>
    <div class="boleta">
      <div class="titulo">
        <span>Detalles compra</span>
      </div>
      <div class="detalles"></div>
      <div class="total">
        <span>Total:</span>
        <span>$36.000</span>
      </div>
      <div class="boton-container">
        <div class="boton">
          <span>Pagar</span>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer/>
