.centrar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bento{
  display: grid;
  width: fit-content;
  grid-template-columns: fit-content fit-content;
  grid-template-rows: 1fr;
  gap: 16px;
  grid-template-areas:
  "carrito boleta"
  ;
}

.carrito{
  display: flex;
  flex-direction: column;
  gap:16px;
  padding: 16px;
  height: fit-content;
  width: 792px;
  background-color: #fff;
  border: 1px solid #999;
}
.producto{
  border: 1px solid black;
  height: 200px;
}

.boleta{
  padding: 16px;
  height: max-content;
  width: 288px;
  background-color: #fff;
  border: 1px solid #999;
}

.titulo{
  display: flex;
  align-items: center;
  font-size: 24px;
  height: 64px;
  border-bottom: 1px solid #999;
}
.detalles{
  display: flex;
  gap: 6px;
  flex-direction: column;
  padding-top: 38px;
  padding-bottom: 38px;
  border-bottom: 1px solid #999;
  height: 186px;
}
.total{
  display: flex;
  align-items: center;
  font-size: 24px;
  height: 64px;
  border-bottom: 1px solid #999;
  justify-content: space-between;
}

.boton-container{
  display: flex;
  justify-content: center;
}
.boton{
  background-color: #FEBA1B;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  height: 48px;
  width: 50%;
  font-size: large;
}


.detalle-item{
  display: flex;
  justify-content: space-between;
}
.producto-item{
  display: flex;
  width: 758px;
  height: 170px;
  gap: 16px;
  border-bottom: 1px solid #999;
}
.producto-item img{
  width: 174px;
  height: 152px;
}

.producto-info{
  display: flex;
  width: 568px;
  height: 152px;
  justify-content: space-between;
}

.producto-subinfo:first-child{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.producto-subinfo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.boton-eliminar{
  background-color: #fff;
  border-color: #999;
  color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  height: 26px;
  width: 92px;
}
.boton-eliminar:hover{
  color: #EA2F2F;
  border-color: #EA2F2F;
}
